{#=====================================================
  Base template
  - Used as the basis of all pages
  - Uses a light colour theme by default
  - Provides a main heading and navigation menu
  - Has blocks for the page title and main content
  - Loads PicoCSS and Pico Colours
  - Loads a user stylesheet
  - Loads JS utility functions
  - Includes block for flash messages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="dark">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/images/icon.svg">

	<title>{% block title %}{% endblock %}</title>

    <script src="/static/js/utils.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.slate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>


    {# Show flash messages from any previous events #}
    {% include "components/messages.jinja" %}

    {# Show debug info. Comment this out if not needed #}
    {% include "components/debug.jinja" %}

    <main>
    
        <header id="info_header">
            <h2>Hello</h2>
            <h2>date</h2>
        </header>

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/history">History</a></li>
                <li><a href="/new">New Workout</a></li>
            </ul>
        </nav>
    </footer>

</body>

</html>

