{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    <header id="info_header">
            <h2>{{workout.name}}</h2>
            <h2>date</h2>
    </header>

{% endblock %}


{% block content %}
    <h3>Edit Workout</h3>

    <article>

        <form action="/edit/{{workout.id}}" method="POST" class="edit_workout">

            <h5>Name</h5>
            <input
                type="text"
                value="{{workout.name}}"
                disabled
            >

            <h5>Instruction Video</h5>
            <input
                type="text"
                name="video_link"
                value="{{workout.video_link}}"
            >

            <h5>Reps Goal</h5>
            <input
                type="int"
                name="reps_target"
                min="0"
                value="{{workout.reps_target}}"
            >
            
            <h5>Notes</h5>
            <input
                type="text"
                name="notes"
                value="{{workout.notes}}"
            >

            <button class="submit">Save Changes</button>

    </article>

     </form>
            <a href="/delete/{{ workout.id }}" role="button" onclick="return confirm('Are you sure you would like to delete the workout {{workout.name}}');">Delete Workout</a>

{% endblock %}

{% block footer %}
    <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new">Back</a></li>
            </ul>
    </nav>
{% endblock %}
