{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    <header id="info_header">
            <h2>Welcome! </h2>
            <h2>{{today_date}}</h2>
    </header>

{% endblock %}


{% block content %}

    {%if today in (2,4,6,7)%}
    <h2>No workouts today! Enjoy your rest!</h2>
    {%else%}
    <h2>Workouts Completed: {{ workouts[0].total_completed }}</h2>
    {%endif%}

    <article id="workout_table">
        <table>
            <tr>
                <th colspan="2" class="workout-title">Workout</th>
                <th class="reps-title">Reps</th>
                <th class="form-title"></th>
            </tr>
            {% for workout in workouts %}

                <tr class="workout">
                    

                    <td class="workout-icon">
                        ⓘ
                    </td>
                    
                    <td class="workout-name">
                        <a href="/workout/{{ workout.id }}">
                            {{ workout.name }}
                        </a>
                    </td>
                    
                    <td class="workout-reps">
                        {{ workout.reps_target }}
                    </td>

                    <td class="workout-form">
                        <form method="POST" action="/workout/{{ workout.id }}">
                            <input 
                                name="done" 
                                type="checkbox" 
                                onchange="this.form.submit()"
                                {%if workout.done > 0 %}
                                   checked disabled
                                {%endif%}
                                {%if day_of_week in (2,4,6,7)%}
                                    disabled
                                {%endif%}
                            >
                            
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>

    <p role="button">Help</p>

{% endblock %}

{% block footer %}
    <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new">New Workout</a></li>
            </ul>
    </nav>
{% endblock %}
