{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workout app

{% endblock %}


{% block content %}


    <h2>Workouts completed:</h2>

    <article id="workout_table">
        <table>
            <tr>
                <th>Workout</th>
                <th>Reps Goal</th>
            </tr>
            {% for workout in workouts %}

                <tr>
                    <td>
                    <a href="/workout/{{ workout.id }}">
                        {{ workout.name }}
                    </a>
                    </td>
                    <td>
                    <a href="/workout/{{ workout.id }}">
                        {{ workout.reps_target }}
                    </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>

{% endblock %}

