{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workout app

{% endblock %}


{% block content %}


    <h2>Workouts completed:</h2>

    <article id="workout_table">
        <table>
            <tr>
                <th colspan="2" class="workout-title">Workout</th>
                <th class="reps-title">Reps</th>
                <th class="form-title"></th>
            </tr>
            {% for workout in workouts %}

                <tr class="workout">
                    

                    <td class="workout-icon">
                        ⓘ
                    </td>
                    
                    <td class="workout-name">
                        <a href="/workout/{{ workout.id }}">
                            {{ workout.name }}
                        </a>
                    </td>
                    
                    <td class="workout-reps">
                        {{ workout.reps_target }}
                    </td>

                    <td class="workout-form">
                        <form method="POST" action="/workout/{{ workout.id }}">
                            <input name="done" type="checkbox">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>

    <p role="button">Help</p>

{% endblock %}

