{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}

{%block title%}

    <header id="info_header">
            <h2>{{workout.name}}</h2>
            <h2>date</h2>
    </header>

{%endblock%}

{% block content %}

    <h1>Instruction Video:</h1>

    <article class="video">

        <embed {{workout.video_link}}>

    </article>
    
    <article class="notes">
        <h1>Notes</h1>
        {{workout.notes}}

    </article>

    <article class="reps">

        <h1>Current Reps Target:</h1>
        <p class="num_box">{{workout.reps_target}}</p>
        <a href="/edit/{{workout.id}}" role="button">Change Target</a>

    </article>


{% endblock %}

{% block footer %}
    <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
    </nav>
{% endblock %}
