{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}

{%block title%}
    <title>Workout App - {{workout.name}} </title>

    <header id="workout_header">
            <h2>{{workout.name}}</h2>
            <div id="date">
                <h2>{{today_date}}</h2>
            </div>
    </header>

{%endblock%}

{% block content %}

<section class="video-section">

    <h1>Instruction Video:</h1>

    {%if workout.video_id%}

        <article class="video">

            <iframe style="width: 100%; aspect-ratio: 16/9;"  src="https://www.youtube.com/embed/{{workout.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </article>
        {%else%}
        <article class="no_video">
        <p>No video :c</p>
        </article>
    {%endif%}

</section>

    <hr>

    <section class="workout-section">

    <h1>Notes</h1>
    <article class="notes">
        {{workout.notes}}
    </article>
    </section>

    <hr>

    <section class="workout-section">
    <h1 class="reps-title">Current Reps Target:</h1>
    <article class="reps">

        <p>{{workout.reps_target}}</p>

    </article>
    </section>

    <section class="workout-section">
    <a href="/edit/{{workout.id}}" role="button" class="edit-button">Edit Workout Info</a>
    </section>

    <hr>

<section class="history-section">
    <h1>Workout History</h1>

         <table class="history-table">
            <tr>
                <th class="dates-titles">Date</th>
                <th class="dates-titles">Reps</th>
            </tr>
            {% for workout_session in sessions %}

                <tr class="date">
                    
                    <td class="date-name">
                    {{ workout_session.date | nicedate }}
                    </td>
                    
                    <td class="date-reps">
                        {{ workout_session.reps }}
                    </td>

                </tr>
            {% endfor %}
        </table>
</section>


{% endblock %}

{% block footer %}
    <nav>
            <ul>
                <li><a href="/"><img src="/static/images/home.svg" alt="Home"></a></li>
            </ul>
    </nav>
{% endblock %}
