/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/
:root {
    --text: #D1E6E6;
    --background: #061d1f;
    --header: #082022;
    --secondary: #2E475D;
    --accent: #27967F;
    --primary: #80CCCC;
}
/* EVERYTHING -------------------------------------------- */
html {
    background-color: var(--background) !important;
}
article {
    background-color: var(--header);
    border-color: var(--primary);
}
text {
    color: var(--text);
}

a[role="button"] {
    background-color: var(--accent);
    border-color: var(--accent);
    border-radius: 15px !important;
    color: #ffff;
}

hr{
    margin-left: -16px;
    margin-right: -16px;
    background-color: var(--primary);
    height: 2px;
}

/* BODY -------------------------------------------- */
header#info_header, header#workout_header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap!important;
    background-color: #082022;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    border-bottom: 2px solid var(--primary);
    align-items: center;
}

header#workout_header h2 {
    padding-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.8rem;
}

header#info_header h2 {
    padding-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2rem;
}

div#date h2 {
    white-space: nowrap;
}

main{
    margin-top: 4rem;
}


/* WORKOUTS -------------------------------------------- */
section.page-title{
    margin-top: 2rem;
}

#workout_table{
    margin: 5px;
    background-color: var(--background);
}

#workout_table table{
    border-left: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    background-color: var(--background);
}

#workout_table .workout-title {
    border: 2px solid var(--accent);
    color: var(--text);
    background: var(--background);
}

#workout_table .reps-title {
    border: 2px solid var(--accent);
    color: var(--text);
    background: var(--background);
}

#workout_table .form-title {
    border-top: 2px solid var(--background);
    border-right: 2px solid var(--background);
    border-bottom: 2px solid var(--accent);
    background: var(--background);
}

#workout_table .workout-name a {
    color: var(--text);
}

#workout_table .workout-name{
    border-right: 2px solid var(--accent);
    background: var(--secondary);
}

#workout_table .workout-icon {
    color: var(--text);
    background: var(--secondary);
}

#workout_table .workout-reps {
    text-align: center;
    color: var(--text);
    background: var(--background);
}

#workout_table .workout-form {
    border-left: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    color: var(--text);
    background: var(--secondary);
}
/* FORMS-------------------------------------------- */
article.form{
    background-color: var(--secondary);
    border-color: var(--primary) !important;
    border: solid 2px;
    border-radius: 1.5rem;
}

article.form h5{
    color: var(--text);
}

article.form input{
    background-color: var(--secondary);
    border-color: var(--primary);
}

button.submit{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--background);
    justify-self: center !important;
    width: 85%;
    text-align: center;
    margin-inline: auto;
    display: block;
}

/* INDIVIDUAL WORKOUT -------------------------------------------- */
section.workout-section{
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}

section.workout-section h1.reps-title{
    text-align: center;
    text-decoration: underline;
}

article.reps{
    background-color: var(--secondary);
    border: solid;
    border-color: var(--accent);
    width: 20%;
    display: flex;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

article.reps p{
    margin: 0;
}

section.video-section{
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}

section.history-section{
    padding-top: 0.75rem;
    padding-bottom: 7rem;
}

section.gap p.spacers {
    color: var(--background);
}

a.edit-button{
    width: 85%;
    margin-inline: auto;
    display: block;
    background-color: var(--accent);
    font-weight: bold;
}

table.history-table{
    background-color: var(--background);
}
tr.date, tr.dates-titles, td.date-name, td.date-reps{
    background-color: var(--secondary);
}

table.history-table th{
    background-color: var(--secondary); 
}


/* FOOTER -------------------------------------------- */

body > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: unset;
    background-color: #082022;
    border-top: 2px solid var(--primary);
    height: 5rem;
    align-items: center;
}


body > footer nav ul {
    width: 100%;
    justify-content: space-around;
    margin: 0 !important;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

